.cart_container{
  display: flex;
  flex-direction: row;
}

.price_details_container{
  background-color: var(--price-detail-bg);
  padding: 2rem 2rem;
  width: 30rem;
  height: fit-content;
  text-align: left;
  border-radius: 1rem;
  margin: 1rem;
}

.inline_details{
  display: flex;
  justify-content: space-between;
}

.price_details_container h2{
  padding: 1rem 0;
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--gray-color);
}

.price_details_container p, h3{
  padding: 0.5rem 0;
}

@media only screen and (max-width: 600px) {
  .cart_container{
    flex-direction: column;
    font-size: 0.8rem;
  }
  
  .cart_container .item_desc{
    margin:0;
  }

  .price_details_container{
    padding: 0.5rem;
    width: 70%;
  font-size: 0.5rem
  }
}