.footer_container h3 {
  margin: 2rem 0 0.5rem 0;
}

.footer_container {
  margin: 3rem 0 2rem 0;
  border-top: 1px solid grey;
}

a{
  color: black;
  margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .footer_container{
    font-size: 0.7rem;
  }
  .footer_container h3 {
    margin-top: 1rem;
  }

  .footer_icons img {
    width: 1rem;
    margin: 0.5rem;
  }
  

}