@import url(https://use.fontawesome.com/releases/v5.0.0/css/all.css);
@import url(https://neodev-ui.netlify.app/doc/docstyle.css);

.App {
  text-align: center;
  margin: 0 5%;
  width: 90Vw;
}


@media only screen and (max-width: 600px) {
  .App{
    margin: 0.5rem;
    width: 95VW;
  }

}